name: Swift macOS build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  build-macos:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13]
        swift: ["5.7", "5.8"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: fwal/setup-swift@v1.23.0
      with:
        swift-version: ${{ matrix.swift }}

    - name: Homebrew Mac
      if: ${{ runner.os == 'Macos' }}
      run: |
        echo "/opt/homebrew/bin:/usr/local/bin" >> $GITHUB_PATH
        brew install jemalloc
    - uses: actions/checkout@v3
    - name: Swift version
      run: swift --version
    - name: Build
      run: swift build
    - name: Run tests
      run: |
        [ -d Tests ] && swift test --parallel
