name: Swift macOS build

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  
jobs:
  build-macos:
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        os: [macos-13]
        swift: ["5.7", "5.8", "5.9"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: fwal/setup-swift@v1.24.0
      with:
        swift-version: ${{ matrix.swift }}

    - name: Homebrew Mac
      if: ${{ runner.os == 'Macos' }}
      run: |
        echo "/opt/homebrew/bin:/usr/local/bin" >> $GITHUB_PATH
        echo BENCHMARK_DISABLE_JEMALLOC=true >> $GITHUB_ENV
        brew install jemalloc

    - uses: actions/checkout@v3

    - name: Start consul
      uses: ./.github/actions/consul-start

    - name: Swift version
      run: swift --version
    - name: Build
      run: swift build
    - name: Run tests
      run: |
        if [ -d Tests ]; then
          swift test --parallel
        fi
    - name: Run tests (release)
      run: |
        if [ -d Tests ]; then
          swift test -c release --parallel
        fi
